<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <% if(nav == true){ %>
        <div class="w-full h-12 px-10 bg-zinc-200 flex justify-between items-center box-border">
            <a href="/" class="text-xl">Pinterest</a>
            <div class="flex flex-wrap wrap-2">
                <a href="/feed" class="text-xl mx-5">Feed</a>
                <a href="/profile" class="text-xl mx-5">Profile</a>
                <a href="/logout" class="bg-red-500 rounded-lg px-2 py-1 text-white">Logout</a>
            </div>
        </div>
    <% }else{ %>
        
    <% } %>
</body>
</html>